# Project: Data Warehouse
## Introduction
A music streaming startup, Sparkify, has grown their user base and song database and want to move their processes and data onto the cloud. Their data resides in S3, in a directory of JSON logs on user activity on the app, as well as a directory with JSON metadata on the songs in their app.

As their data engineer, I have been tasked with building an ETL pipeline that extracts their data from S3, stages them in Redshift, and transforms data into a set of dimensional tables for their analytics team to continue finding insights in what songs their users are listening to. I'll be able to test my database and ETL pipeline by running queries given to me by the analytics team from Sparkify and compare my results with their expected results.

## Project Description
In this project, I'll apply what I've learned on data warehouses and AWS to build an ETL pipeline for a database hosted on Redshift. To complete the project, I will need to load data from S3 to staging tables on Redshift and execute SQL statements that create the analytics tables from these staging tables.

In [1]:
import pandas as pd
import boto3
import json
import configparser
import platform

# Load AWS Params from a file

In [ ]:
config = configparser.ConfigParser()

if platform.system() == 'Windows':
    config.read_file(open('D:/AWS/aws.cfg'))
else:
    config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','AWSAccessKeyId')
SECRET= config.get('AWS','AWSSecretKey')
#print("KEY =", KEY)
#print("SECRET =", SECRET)

# Load DWH Params from a file

In [4]:
DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_POLICY_ARN         = config.get("DWH","DWH_POLICY_ARN")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_POLICY_ARN", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_POLICY_ARN, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param                                           Value
0        DWH_CLUSTER_TYPE                                      multi-node
1           DWH_NUM_NODES                                               4
2           DWH_NODE_TYPE                                       dc2.large
3  DWH_CLUSTER_IDENTIFIER                                      dwhCluster
4                  DWH_DB                                             dwh
5             DWH_DB_USER                                         dwhuser
6         DWH_DB_PASSWORD                                        Passw0rd
7          DWH_POLICY_ARN  arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
8                DWH_PORT                                            5439
9       DWH_IAM_ROLE_NAME                                         dwhRole

In [6]:
redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [7]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-150fbc6d
7,NumberOfNodes,4

In [8]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT =", DWH_ENDPOINT)
print("DWH_ROLE_ARN =", DWH_ROLE_ARN)

DWH_ENDPOINT = dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN = arn:aws:iam::383734032428:role/dwhRole

In [9]:
%load_ext sql

In [10]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Check out the sample data sources on S3

In [9]:
S3_LOG_DATA = dwh_cfg.get("S3", "LOG_DATA")
S3_SONG_DATA = dwh_cfg.get("S3", "SONG_DATA")
S3_LOG_JSONPATH = dwh_cfg.get("S3", "LOG_JSONPATH")  

pd.DataFrame({"Param":
                  ["S3_LOG_DATA", "S3_SONG_DATA", "S3_LOG_JSONPATH"],
              "Value":
                  [S3_LOG_DATA, S3_SONG_DATA, S3_LOG_JSONPATH]
             })

             Param                                 Value
0  S3_LOG_DATA      s3://udacity-dend/log_data
1  S3_SONG_DATA     s3://udacity-dend/song_data
2  S3_LOG_JSONPATH  s3://udacity-dend/log_json_path.json

# Song Dataset

In [10]:
%%sql 
DROP TABLE IF EXISTS staging_songs;

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [11]:
%%sql 
create table if not exists staging_songs
(num_songs text
,artist_id text
,artist_latitude text
,artist_longitude text
,artist_location text
,artist_name text
,song_id text
,title text
,duration text
,year text
);

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [12]:
source = S3_SONG_DATA
target = 'staging_songs'
region = 'us-west-2'
staging_songs_copy = ("""
COPY {} FROM '{}'
CREDENTIALS 'aws_iam_role={}'
REGION '{}'
FORMAT as JSON 'auto'
""").format(target,source,DWH_ROLE_ARN,region)
print("staging_songs_copy =", staging_songs_copy)

staging_songs_copy =
COPY staging_songs FROM 's3://udacity-dend/song_data'
CREDENTIALS 'aws_iam_role=arn:aws:iam::383734032428:role/dwhRole'
REGION 'us-west-2'
FORMAT as JSON 'auto'

In [13]:
from time import time
loadTimes = []

t0 = time()
%sql $staging_songs_copy
loadTime = time()-t0
loadTimes.append(loadTime)

print("=== DONE IN: {0:.2f} sec\n".format(loadTime))

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
=== DONE IN: 153.85 sec

In [14]:
count_staging_songs ="""
set enable_result_cache_for_session to off;

select count(*)
from staging_songs
where 1 = 1
;
"""
%sql $count_staging_songs

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
1 rows affected.

[(14896,)]

In [15]:
limit_staging_songs ="""
set enable_result_cache_for_session to off;

select *
from staging_songs
where 1 = 1
limit 5
;
"""
%sql $limit_staging_songs

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[('1', 'ARTC1LV1187B9A4858', '51.453600000000002', '-0.018020000000000001', "Goldsmith's College, Lewisham, Lo", 'The Bonzo Dog Band', 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', '301.40035999999998', '1972'),
 ('1', 'AR7EXXM1187B995510', '40.714550000000003', '-74.00712', 'New York, New York', 'BLESTeNATION', 'SORBTXD12AB018D2D2', "They're Coming For You", '193.07057', '0'),
 ('1', 'ARNIFX51187FB418EA', None, None, '', 'Xcultures', 'SOHMMMC12AB0181C42', 'Sudanese Dance', '273.52771000000001', '2000'),
 ('1', 'ARUT16P1187FB532A4', '33.398470000000003', '-91.037859999999995', 'Greenville, MS', 'Tyrone Davis', 'SOWRLSY12AC4687694', "Cheatin' In The Next Room", '235.91138000000001', '0'),
 ('1', 'ARE1E131187B9B6F22', None, None, 'HILTONS, US', 'June Carter Cash', 'SOBQFAX12A6D4FC885', 'Hold Fast To The Right', '178.44200000000001', '2004')]

# Log Dataset

In [16]:
%%sql 
DROP TABLE IF EXISTS staging_events;

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [17]:
%%sql 
create table if not exists staging_events
(artist text
,auth text
,firstname text
,gender text
,iteminsession text
,lastname text
,length text
,level text
,location text
,method text
,page text
,registration text
,sessionid text
,song text
,status text
,ts text
,useragent text
,userid text
);

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [18]:
source = S3_LOG_DATA
target = 'staging_events'
region = 'us-west-2'
staging_events_copy = ("""
COPY {} FROM '{}'
CREDENTIALS 'aws_iam_role={}'
REGION '{}'
FORMAT as JSON '{}'
""").format(target,source,DWH_ROLE_ARN,region,S3_LOG_JSONPATH)
print("staging_events_copy =", staging_events_copy)

staging_events_copy =
COPY staging_events FROM 's3://udacity-dend/log_data'
CREDENTIALS 'aws_iam_role=arn:aws:iam::383734032428:role/dwhRole'
REGION 'us-west-2'
FORMAT as JSON 's3://udacity-dend/log_json_path.json'

In [19]:
from time import time
loadTimes = []

t0 = time()
%sql $staging_events_copy
loadTime = time()-t0
loadTimes.append(loadTime)

print("=== DONE IN: {0:.2f} sec\n".format(loadTime))

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
=== DONE IN: 2.02 sec

In [20]:
count_staging_events ="""
set enable_result_cache_for_session to off;

select count(*)
from staging_events
where 1 = 1
--and page = 'NextSong'
;
"""
%sql $count_staging_events

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
1 rows affected.

[(8056,)]

In [21]:
limit_staging_events ="""
set enable_result_cache_for_session to off;

select *
from staging_events
where 1 = 1
limit 5
;
"""
%sql $limit_staging_events

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', '0', 'Simpson', '267.91138000000001', 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', '1541044398796', '256', 'Almost Lover (Album Version)', '200', '1541377992796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69'),
 ('Nirvana', 'Logged In', 'Aleena', 'F', '0', 'Kirby', '214.77832000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Serve The Servants', '200', '1541381242796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Television', 'Logged In', 'Aleena', 'F', '1', 'Kirby', '238.49751000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'See No Evil  (Remastered LP Version)', '200', '1541381456796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', '2', 'Kirby', '346.43545999999998', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Blues To Bechet (LP Version)', '200', '1541381694796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('NOFX', 'Logged In', 'Aleena', 'F', '3', 'Kirby', '80.796279999999996', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', "It's My Job To Keep Punk Rock Elite", '200', '1541382040796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]

In [185]:
drop table if exists artist_locations cascade;
drop table if exists artists cascade;
drop table if exists song_keys cascade;
drop table if exists songplays cascade;
drop table if exists songs cascade;
drop table if exists time cascade;
drop table if exists users cascade;

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [25]:
limit_staging_songs ="""
set enable_result_cache_for_session to off;

select *
from staging_songs
where 1 = 1
and year != 0
limit 5
;
"""
%sql $limit_staging_songs

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[('1', 'AR2J2WF1187FB46271', '54.483029999999999', '-3.53444', 'Egremont, Cumbria, England', 'Francis Dunnery', 'SOYQOFI12A6D4F76E1', 'Too Much Saturn', '300.79955000000001', '1995'),
 ('1', 'ARZJ4MI1187B9AF5AF', None, None, 'Orange County, CA', 'Reel Big Fish', 'SOWZYPQ12AAF3B1F3D', "I'm Cool", '103.26159', '1997'),
 ('1', 'ARS927Z1187B9ACA29', None, None, 'Birmingham, England', 'Robert Plant', 'SOFKLRD12A58A7C947', "Funny In My Mind (I Believe I'm Fixin' To Die)", '284.44689', '2002'),
 ('1', 'ARDG9Z71187B997023', '51.506320000000002', '-0.12714', 'London, England', 'Public Image Ltd', 'SOQDTQP12A6D4F793F', '(This Is Not A) Love Song (Live)', '388.28363000000002', '1983'),
 ('1', 'ARYAUMZ1187B9A2A40', '51.506320000000002', '-0.12714', 'London, UK', 'Spandau Ballet', 'SODORIU12A6D4F84BB', 'Lifeline', '199.13097999999999', '1983')]

In [26]:
query = ("""
select se.*
from staging_events se
where 1 = 1
and se.artist = 'Radiohead'
and se.song like 'Creep%'
and se.page = 'NextSong'
limit 15
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('Radiohead', 'Logged In', 'Jacob', 'M', '24', 'Klein', '235.70240000000001', 'paid', 'Tampa-St. Petersburg-Clearwater, FL', 'PUT', 'NextSong', '1540558108796', '294', 'Creep (Explicit)', '200', '1542046044796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '73'),
 ('Radiohead', 'Logged In', 'Layla', 'F', '3', 'Griffin', '235.70240000000001', 'paid', 'Lake Havasu City-Kingman, AZ', 'PUT', 'NextSong', '1541057188796', '723', 'Creep (Explicit)', '200', '1542643865796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '24')]

In [27]:
query = ("""
select distinct
artist_id
,artist_name as name
,artist_location as location
,artist_latitude as latitude
,artist_longitude as longitude
from staging_songs ss
where 1 = 1
and year != 0
--and artist_name = 'Radiohead'
and artist_id = 'ARYPTWE1187FB49D64'
limit 15
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('ARYPTWE1187FB49D64', 'Aphex Twin', '', None, None)]

In [28]:
query = ("""
select *
from staging_songs
where 1 = 1
and artist_id = 'ARH6W4X1187B99274F'
and year != 0
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
8 rows affected.

[('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOUHJKU12AB017DF67', 'Stop Whispering (US Version)', '250.82730000000001', '1993'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOUPVWK12A6310EF7A', 'Fast-Track', '197.45913999999999', '2001'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOBBZPM12AB017DF4B', 'Pop Is Dead', '130.82077000000001', '1993'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOMLGKF12AB017DF3C', 'Vegetable (Live)', '188.31628000000001', '1993'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOSYMSX12A6310DFE2', 'Subterranean Homesick Alien', '267.20607999999999', '1997'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOPGXXV12AB0183709', 'Bullet Proof ... I Wish I Was (Acoustic)', '214.75219999999999', '1995'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOVAHZK12A6310F23C', 'Fake Plastic Trees (Acoustic Version)', '281.12934000000001', '2009'),
 ('1', 'ARH6W4X1187B99274F', None, None, 'Oxford, UK', 'Radiohead', 'SOSQIHH12A8C13370B', '15 Step', '237.21751', '2007')]

In [29]:
query = ("""
select artist_id, count(*)
from staging_songs
where 1 = 1
and year != 0
group by artist_id
having count(*) > 7
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('ARH6W4X1187B99274F', 8), ('AR62BB21187B9AC83D', 8)]

In [30]:
query = ("""
select ss.*
from staging_songs ss
where 1 = 1
and ss.artist_name = 'Sugarland'
--and ss.latitude is null
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('1', 'ARFL99B1187B9A2A45', '33.748309999999996', '-84.391109999999998', 'PERTH AMBOY, New Jersey', 'Sugarland', 'SOIWRGF12A8C1384C5', 'Take Me As I Am', '243.82649000000001', '2008'),
 ('1', 'ARFL99B1187B9A2A45', None, None, 'PERTH AMBOY, New Jersey', 'Sugarland', 'SOXTCXD12AB0183E39', 'Silent Night', '202.26567', '2009')]

In [31]:
query = ("""
select ss.*
from staging_songs ss
where 1 = 1
--and ss.artist_name = 'Sugarland'
--and ss.latitude is null
and ss.year = 0
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('1', 'AR7EXXM1187B995510', '40.714550000000003', '-74.00712', 'New York, New York', 'BLESTeNATION', 'SORBTXD12AB018D2D2', "They're Coming For You", '193.07057', '0'),
 ('1', 'ARUT16P1187FB532A4', '33.398470000000003', '-91.037859999999995', 'Greenville, MS', 'Tyrone Davis', 'SOWRLSY12AC4687694', "Cheatin' In The Next Room", '235.91138000000001', '0'),
 ('1', 'ARKRR9E1187FB4419E', None, None, 'Hampden, ME', 'The Killing Moon', 'SOZHNCZ12A58A7E4B3', 'Subject A', '243.69587000000001', '0'),
 ('1', 'ARNJLGR1242078249B', None, None, '', 'Max Avery Lichtenstein', 'SOHSTGY12A8C136434', 'Departures', '80.247709999999998', '0'),
 ('1', 'ARFFL3N1187FB3F6AF', None, None, '', 'Tryo', 'SOASQHW12A8C137B6D', "J'ai Rien Prvu Pour Demain", '658.52035999999998', '0')]

In [32]:
%%sql 
DROP TABLE IF EXISTS staging_artists;

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [33]:
%%sql 
CREATE TABLE IF NOT EXISTS staging_artists
(artist_id text
,artist_name text
,artist_location text
,artist_latitude text
,artist_longitude text
);

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [34]:
update_ss = ("""
update staging_songs
set artist_location = Null
where artist_location = ''
""")
%sql $update_ss

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
6702 rows affected.

[]

In [35]:
%%sql 
DELETE FROM staging_artists;

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [36]:
artist_loc_nn_lat_nn = ("""
insert into staging_artists
(artist_id
,artist_name
,artist_location
,artist_latitude
,artist_longitude) 
select distinct ss.artist_id
,ss.artist_name, ss.artist_location, ss.artist_latitude, ss.artist_longitude
from staging_songs ss
where 1 = 1
and ss.artist_location is not null
and ss.artist_latitude is not null
;
""")
%sql $artist_loc_nn_lat_nn

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3436 rows affected.

[]

In [37]:
artist_loc_nn_lat_null = ("""
insert into staging_artists
(artist_id
,artist_name
,artist_location
,artist_latitude
,artist_longitude) 
select distinct ss.artist_id
,ss.artist_name, ss.artist_location, ss.artist_latitude, ss.artist_longitude
from staging_songs ss
where 1 = 1
and ss.artist_location is not null
and ss.artist_latitude is null
;
""")
%sql $artist_loc_nn_lat_null

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1777 rows affected.

[]

In [38]:
artist_loc_null_lat_nn = ("""
insert into staging_artists
(artist_id
,artist_name
,artist_location
,artist_latitude
,artist_longitude) 
select distinct ss.artist_id
,ss.artist_name
,ss.artist_location
,ss.artist_latitude
,ss.artist_longitude
from staging_songs ss
where 1 = 1
and not exists
(select 1
from staging_artists nn
where 1 = 1
and nn.artist_id = ss.artist_id
and nn.artist_name = ss.artist_name
)
and ss.artist_location is null
and ss.artist_latitude is not null
;
""")
%sql $artist_loc_null_lat_nn

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[]

In [39]:
artist_loc_null_lat_null = ("""
insert into staging_artists
(artist_id
,artist_name
,artist_location
,artist_latitude
,artist_longitude) 
select distinct ss.artist_id
,ss.artist_name
,ss.artist_location
,ss.artist_latitude
,ss.artist_longitude
from staging_songs ss
where 1 = 1
and not exists
(select 1
from staging_artists nn
where 1 = 1
and nn.artist_id = ss.artist_id
and nn.artist_name = ss.artist_name
)
and ss.artist_location is null
and ss.artist_latitude is null
;
""")
%sql $artist_loc_null_lat_null

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
4795 rows affected.

[]

In [40]:
query = ("""
select count(distinct(se.artist))
from staging_events se
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(3148,)]

In [44]:
query = ("""
delete from staging_artists where artist_id is null
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1417 rows affected.

[]

In [45]:
insert_artists_from_staging_events = ("""
insert into staging_artists
(artist_name) 
select distinct se.artist
from staging_events se
where 1 = 1
and se.page = 'NextSong'
and not exists
(select 1
from staging_artists sa
where 1 = 1
and sa.artist_name = se.artist
)
""")
%sql $insert_artists_from_staging_events

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1416 rows affected.

[]

In [46]:
query = ("""
select *
from staging_artists
where artist_id is null
order by artist_name
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, "'N Sync/Phil Collins", None, None, None),
 (None, '+ / - {Plus/Minus}', None, None, None),
 (None, '+44', None, None, None),
 (None, '1 Mile North', None, None, None),
 (None, '10 Years', None, None, None)]

In [49]:
query = ("""
select *
from staging_artists
where 1 = 1
and artist_name like '%Phil Collins'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('AR9W3X91187FB3994C', 'Phil Collins', 'Chiswick, London, England', None, None),
 (None, "'N Sync/Phil Collins", None, None, None)]

In [50]:
query = ("""
select *
from staging_artists
where artist_id IN ('ARVNGA71187FB3C107','ARF2SVO1187FB53E8F')
order by artist_id
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[('ARF2SVO1187FB53E8F', 'Alison Krauss', None, None, None),
 ('ARF2SVO1187FB53E8F', 'Alison Krauss / Union Station', 'Decatur, IL', None, None),
 ('ARVNGA71187FB3C107', 'Faith Hill', 'Jackson, MS', None, None),
 ('ARVNGA71187FB3C107', 'Faith Hill', 'Nashville, TN', None, None)]

In [57]:
query = ("""
select a.*, al.*
from artists a
left outer join artist_locations al
on a.artist_key = al.artist_key
where 1 = 1
and (a.name like 'Radio%'
or a.name like '%Phil Collins')
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2135, 'ARH6W4X1187B99274F', 'Radiohead', 8577, 2135, 'Oxford, UK', None, None),
 (377, 'AR9TAKL1187B998B56', 'Radio 4', 876, 377, 'Los Angeles, CA', 34.05349, -118.24532),
 (9118, 'AR9W3X91187FB3994C', 'Phil Collins', 3945, 9118, 'Chiswick, London, England', None, None),
 (11158, None, "'N Sync/Phil Collins", None, None, None, None, None),
 (10424, 'AR3O0021187B999BC8', 'Radio Moscow', 1901, 10424, 'Ames, IA', 42.02534, -93.6202)]

In [58]:
query = ("""
select a.artist_id,a.name,al.location,al.latitude,count(*)
from artists a
join artist_locations al
on a.artist_key = al.artist_key
where 1 = 1
group by a.artist_id,a.name,al.location,al.latitude
having count(*) > 1
;
""")
%sql $query

query = ("""
select a.*,al.*
from artists a
join artist_locations al
on a.artist_key = al.artist_key
where 1 = 1
and a.artist_id IN ('ARVNGA71187FB3C107','ARF2SVO1187FB53E8F')
order by a.artist_id
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[(6592, 'ARF2SVO1187FB53E8F', 'Alison Krauss', 1826, 6592, None, None, None),
 (8754, 'ARF2SVO1187FB53E8F', 'Alison Krauss / Union Station', 1486, 8754, 'Decatur, IL', None, None),
 (8924, 'ARVNGA71187FB3C107', 'Faith Hill', 3837, 8924, 'Nashville, TN', None, None),
 (8924, 'ARVNGA71187FB3C107', 'Faith Hill', 3164, 8924, 'Jackson, MS', None, None)]

In [59]:
limit_artists = ("""
set enable_result_cache_for_session to off;

select artist_id, count(*)
from artists
where 1 = 1
group by artist_id
having count(*) > 3
limit 5
;
""")
%sql $limit_artists

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[('ARV481W1187FB38CD9', 4),
 ('ARCBD0U1187FB466EF', 4),
 ('ARZ5H0P1187B98A1DD', 4),
 ('ARMD3XX1187B9ACF84', 4),
 (None, 1416)]

In [60]:
limit_artists = ("""
set enable_result_cache_for_session to off;

select a.*,al.*
from artists a
join artist_locations al
on a.artist_key = al.artist_key
where 1 = 1
and a.artist_id = 'ARZ5H0P1187B98A1DD'
order by a.artist_id
""")
%sql $limit_artists

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
4 rows affected.

[(36, 'ARZ5H0P1187B98A1DD', 'Snoop Dogg / Stevie Wonder', 5284, 36, 'Long Beach, CA', 33.76672, -118.1924),
 (7358, 'ARZ5H0P1187B98A1DD', 'Snoop Dogg', 6014, 7358, 'Long Beach, CA', 33.76672, -118.1924),
 (1814, 'ARZ5H0P1187B98A1DD', 'Snoop Dogg Featuring Warren G_ Mauseburg And Nate Dogg', 5185, 1814, 'Long Beach, CA', 33.76672, -118.1924),
 (5868, 'ARZ5H0P1187B98A1DD', 'Snoop Dogg featuring Kid Cudi', 5911, 5868, 'Long Beach, CA', 33.76672, -118.1924)]

In [61]:
query = ("""
select count(*)
from artists
where 1 = 1
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(11409,)]

In [62]:
query = ("""
select distinct ss.artist_id, ss.artist_name
from staging_songs ss
where 1 = 1
minus 
select artist_id, name as artist_name
from artists
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [63]:
query = ("""
select ss.*
from staging_songs ss
where 1 = 1
and ss.artist_id = 'AR0JBXL1187FB52810' 
""")
%sql $query

query = ("""
select a.*
from artists a
where 1 = 1
and a.artist_id = 'AR0JBXL1187FB52810' 
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(4942, 'AR0JBXL1187FB52810', 'St. Vincent')]

In [64]:
limit_artists = ("""
select artist_id,count(*)
from artists
group by artist_id
having count(*) > 3
""")
%sql $limit_artists

limit_artists = ("""
select *
from artists
where 1 = 1
and artist_id = 'ARQT8QM1187FB3E3CB'
""")
%sql $limit_artists

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(7288, 'ARQT8QM1187FB3E3CB', 'The Bats')]

In [75]:
query = ("""
delete from songs;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [76]:
song_table_insert = ("""
insert into songs 
(song_id
,title
,artist_key
,artist_id
,year
,duration
)
select distinct
ss.song_id
,ss.title
,a.artist_key
,ss.artist_id
,cast(ss.year as integer)
,cast(ss.duration as double precision)
from staging_songs ss
join artists a
on ss.artist_id = a.artist_id
and ss.artist_name = a.name
join artist_locations al
on a.artist_key = al.artist_key
and ss.artist_location = al.location
where 1 = 1
""")
%sql $song_table_insert

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
8193 rows affected.

[]

In [77]:
query = ("""
select ss.title, ss.duration, se.song, se.length
from staging_songs ss
join staging_events se
on ss.title = se.song
where 1 = 1
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('English Summer Rain', '241.52771000000001', 'English Summer Rain', '241.52771000000001'),
 ('The Boy With The Thorn In His Side', '196.67545999999999', 'The Boy With The Thorn In His Side', '196.67545999999999'),
 ('The Boy With The Thorn In His Side', '196.67545999999999', 'The Boy With The Thorn In His Side', '196.67545999999999'),
 ('Free', '492.66892999999999', 'Free', '222.82404'),
 ('Yippiyo-Ay', '271.85586999999998', 'Yippiyo-Ay', '271.85586999999998')]

In [78]:
insert_songs_from_staging_events = ("""
insert into songs 
(title
,artist_key
)
select distinct
se.song
,a.artist_key
from staging_events se
join artists a
on se.artist = a.name
where 1 = 1
and se.page = 'NextSong'
and not exists
(select 1
from songs s
where 1 = 1
and s.title = se.song
)
""")
%sql $insert_songs_from_staging_events

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
4942 rows affected.

[]

In [79]:
limit_songs = ("""
set enable_result_cache_for_session to off;

select song_id,year,count(*)
from songs
where 1 = 1
group by song_id,year
having count(*) > 1
limit 5
;
""")
%sql $limit_songs

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
1 rows affected.

[(None, None, 4942)]

In [80]:
query = ("""
select *
from songs
where 1 = 1
and song_id = 'SOJXVAH12A8C139700'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1339, 'SOJXVAH12A8C139700', 'Barking Dogs (From "Piouhgd")', 1666, 'ARPQ4Z01187FB3A736', 0, 450.84689)]

In [81]:
query = ("""
select *
from songs
where 1 = 1
and song_id is null
limit 10
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(8059, None, 'On The Other Side', 336, None, None, None),
 (8123, None, "I Wouldn't Be A Man", 1133, None, None, None),
 (8129, None, 'Stay Free (Album Version)', 1652, None, None, None),
 (8132, None, 'All I Want For Christmas Is You', 365, None, None, None),
 (8187, None, 'Wave Goodbye (Real/Rhapsody Version)', 2783, None, None, None),
 (8193, None, 'Tennessee Waltz (Live)', 2697, None, None, None),
 (8196, None, 'Cyanide Sweet Tooth Suicide (Album Version)', 1986, None, None, None),
 (8214, None, 'Killing Lies', 336, None, None, None),
 (8242, None, "Ain't No Way (You Won't Love Me)", 1951, None, None, None),
 (8251, None, 'Fire Power', 4169, None, None, None)]

In [82]:
query = ("""
select *
from staging_songs
where 1 = 1
and artist_id = 'ARQT8QM1187FB3E3CB'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('1', 'ARQT8QM1187FB3E3CB', '-37.893059999999998', '175.47130999999999', 'Cambridge, New Zealand', 'The Bats', 'SOQMBUZ12A6D4FC066', 'Down To Me', '195.13424000000001', '0'),
 ('1', 'ARQT8QM1187FB3E3CB', '-43.531309999999998', '172.63730000000001', 'Christchurch, New Zealand', 'The Bats', 'SOCCTBY12AB0180AE0', 'Castle Lights', '224.02566999999999', '0'),
 ('1', 'ARQT8QM1187FB3E3CB', '-43.531309999999998', '172.63730000000001', 'Christchurch, New Zealand', 'The Bats', 'SOVUCXR12AB0180B10', "Steppin' Out", '135.62729999999999', '0'),
 ('1', 'ARQT8QM1187FB3E3CB', '-43.531309999999998', '172.63730000000001', 'Christchurch, New Zealand', 'The Bats', 'SOEBFUE12AB0180AF1', 'Satellites', '269.79219999999998', '0'),
 ('1', 'ARQT8QM1187FB3E3CB', '-37.893059999999998', '175.47130999999999', 'Cambridge, New Zealand', 'The Bats', 'SOWSXCK12A6D4FA87E', 'The Old Ones', '212.32281', '0')]

In [223]:
user_table_drop = ("""
DROP TABLE IF EXISTS users cascade
""")
%sql $user_table_drop

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [224]:
user_table_create = ("""
CREATE TABLE IF NOT EXISTS users
(user_key integer NOT NULL sortkey
,first_name character varying not null
,last_name character varying not null
,gender character varying not null
,CONSTRAINT users_pkey PRIMARY KEY (user_key)
);
""")
%sql $user_table_create

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [225]:
query = ("""
set enable_result_cache_for_session to off;

select distinct userid, firstname, lastname, gender, level, count(*)
from staging_events
where 1 = 1
and page = 'NextSong'
group by userid, firstname, lastname, gender, level
having count(*) > 1
limit 15
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
15 rows affected.

[('69', 'Anabelle', 'Simpson', 'F', 'free', 29),
 ('44', 'Aleena', 'Kirby', 'F', 'paid', 397),
 ('52', 'Theodore', 'Smith', 'M', 'free', 17),
 ('94', 'Noah', 'Chavez', 'M', 'free', 7),
 ('32', 'Lily', 'Burns', 'F', 'free', 56),
 ('43', 'Jahiem', 'Miles', 'M', 'free', 11),
 ('57', 'Katherine', 'Gay', 'F', 'free', 8),
 ('49', 'Chloe', 'Cuevas', 'F', 'free', 39),
 ('26', 'Ryan', 'Smith', 'M', 'free', 114),
 ('42', 'Harper', 'Barrett', 'M', 'paid', 140),
 ('28', 'Brantley', 'West', 'M', 'free', 7),
 ('60', 'Devin', 'Larson', 'M', 'free', 18),
 ('95', 'Sara', 'Johnson', 'F', 'paid', 213),
 ('80', 'Tegan', 'Levine', 'F', 'free', 17),
 ('84', 'Shakira', 'Hunt', 'F', 'free', 6)]

In [226]:
query = ("""
set enable_result_cache_for_session to off;

select userid,method,page,count(*)
from staging_events
where 1 = 1
and page = 'NextSong'
and userid = 100
group by userid,method,page
limit 50
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
1 rows affected.

[('100', 'PUT', 'NextSong', 19)]

In [227]:
query = ("""
set enable_result_cache_for_session to off;

select count(distinct userid)
from staging_events
where 1 = 1
and page = 'NextSong'
--and userid = 100
--limit 50
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
1 rows affected.

[(96,)]

In [228]:
query = ("""
delete from users;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [229]:
user_table_insert = ("""
insert into users 
(user_key
,first_name
,last_name
,gender
--,level
)
select distinct
CAST(se.userid AS INTEGER)
,se.firstname
,se.lastname
,se.gender
--,se.level
from staging_events se
where 1 = 1
and se.page = 'NextSong'
order by se.userid
--, se.level
""")
%sql $user_table_insert

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
96 rows affected.

[]

In [230]:
query = ("""
set enable_result_cache_for_session to off;

select user_key,count(*)
from users
where 1 = 1
group by user_key
having count(*) > 1
--and user_key = 100
limit 5
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
0 rows affected.

[]

In [231]:
query = ("""
set enable_result_cache_for_session to off;

select *
from users
where 1 = 1
--and page = 'NextSong'
--and user_key = 29
order by user_key
limit 5
;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F'),
 (3, 'Isaac', 'Valdez', 'M'),
 (4, 'Alivia', 'Terrell', 'F'),
 (5, 'Elijah', 'Davis', 'M'),
 (6, 'Cecilia', 'Owens', 'F')]

In [232]:
query = ("""
select *
from staging_events
limit 5
;
""")
#1541207073796
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', '0', 'Simpson', '267.91138000000001', 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', '1541044398796', '256', 'Almost Lover (Album Version)', '200', '1541377992796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69'),
 ('Nirvana', 'Logged In', 'Aleena', 'F', '0', 'Kirby', '214.77832000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Serve The Servants', '200', '1541381242796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Television', 'Logged In', 'Aleena', 'F', '1', 'Kirby', '238.49751000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'See No Evil  (Remastered LP Version)', '200', '1541381456796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', '2', 'Kirby', '346.43545999999998', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Blues To Bechet (LP Version)', '200', '1541381694796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('NOFX', 'Logged In', 'Aleena', 'F', '3', 'Kirby', '80.796279999999996', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', "It's My Job To Keep Punk Rock Elite", '200', '1541382040796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]

In [93]:
import time;
import datetime;

ts = 1541207073796
print("ts =", ts)
date = datetime.datetime.fromtimestamp(ts / 1e3)
print("date =", date)
year = date.year
print("year =", year)
month = date.month
print("month =", month)
day = date.day
print("day =", day)
hour = date.hour
print("hour =", hour)
week = int(date.strftime("%V"))
print("week =", week)
weekday = date.weekday()
print("weekday =", weekday)
weekday_name = date.strftime("%A")
print("weekday_name =", weekday_name)

ts = 1541207073796
date = 2018-11-02 20:04:33.796000
year = 2018
month = 11
day = 2
hour = 20
week = 44
weekday = 4
weekday_name = Friday

In [233]:
query = ("""
drop table if exists time cascade;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [234]:
time_table_create = ("""
CREATE TABLE IF NOT EXISTS time 
(time_key bigint not null sortkey
,year double precision not null
,month double precision not null
,day double precision not null
,hour double precision not null
,minute double precision not null
,second double precision not null
,week double precision not null
,weekday double precision not null
,CONSTRAINT time_pkey PRIMARY KEY (time_key)
);
""")
%sql $time_table_create

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [235]:
query = ("""
select count(distinct ts)
from staging_events
;
""")
#1541207073796
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [236]:
query = ("""
select distinct 
cast(ts as bigint) as time_key
,extract(year from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as year
,extract(month from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as month
,extract(day from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as day
,extract(hour from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as hour
,extract(minute from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as minute
,extract(second from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as second
,extract(week from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as week
,extract(dow from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as weekday
from staging_events
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1541377992796, 2018, 11, 5, 0, 33, 12, 45, 1),
 (1541381242796, 2018, 11, 5, 1, 27, 22, 45, 1),
 (1541381456796, 2018, 11, 5, 1, 30, 56, 45, 1),
 (1541381694796, 2018, 11, 5, 1, 34, 54, 45, 1),
 (1541382040796, 2018, 11, 5, 1, 40, 40, 45, 1)]

In [237]:
time_table_insert = ("""
insert into time 
(time_key
,year
,month
,day
,hour
,minute
,second
,week
,weekday
)
select distinct 
cast(ts as bigint) as time_key
,extract(year from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as year
,extract(month from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as month
,extract(day from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as day
,extract(hour from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as hour
,extract(minute from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as minute
,extract(second from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as second
,extract(week from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as week
,extract(dow from timestamp 'epoch' + cast(ts as bigint)/1000 * interval '1 second') as weekday
from staging_events;
""")
%sql $time_table_insert

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
8023 rows affected.

[]

In [99]:
query = ("""
select count(*)
from time;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [100]:
query = ("""
drop table if exists songplays
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [242]:
songplay_table_create = ("""
CREATE TABLE IF NOT EXISTS songplays
(
    songplay_key integer IDENTITY(0,1) NOT NULL,
    time_key bigint NOT NULL sortkey,
    song_key integer NOT NULL distkey,
    artist_key integer NOT NULL,
    user_key integer NOT NULL,
    level character varying NOT NULL,
    session_id integer NOT NULL,
    location character varying NOT NULL,
    user_agent character varying NOT NULL,
    CONSTRAINT songplays_pkey PRIMARY KEY (songplay_key),
    CONSTRAINT songplays_artists_fkey FOREIGN KEY (artist_key)
        REFERENCES artists (artist_key) MATCH SIMPLE,
    CONSTRAINT songplays_songs_fkey FOREIGN KEY (song_key)
        REFERENCES songs (song_key) MATCH SIMPLE,
    CONSTRAINT songplays_time_fkey FOREIGN KEY (time_key)
        REFERENCES "time" (time_key) MATCH SIMPLE,
    CONSTRAINT songplays_users_fkey FOREIGN KEY (user_key)
        REFERENCES users (user_key) MATCH SIMPLE
);
""")
%sql $songplay_table_create

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [102]:
query = ("""
select *
from staging_events
where 1 = 1
and page ='NextSong'
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', '0', 'Simpson', '267.91138000000001', 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', '1541044398796', '256', 'Almost Lover (Album Version)', '200', '1541377992796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '69'),
 ('Nirvana', 'Logged In', 'Aleena', 'F', '0', 'Kirby', '214.77832000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Serve The Servants', '200', '1541381242796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Television', 'Logged In', 'Aleena', 'F', '1', 'Kirby', '238.49751000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'See No Evil  (Remastered LP Version)', '200', '1541381456796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', '2', 'Kirby', '346.43545999999998', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Blues To Bechet (LP Version)', '200', '1541381694796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('NOFX', 'Logged In', 'Aleena', 'F', '3', 'Kirby', '80.796279999999996', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', "It's My Job To Keep Punk Rock Elite", '200', '1541382040796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]

In [103]:
query = ("""
select ss.*
from staging_songs ss
where 1 = 1
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('1', 'ARTC1LV1187B9A4858', '51.453600000000002', '-0.018020000000000001', "Goldsmith's College, Lewisham, Lo", 'The Bonzo Dog Band', 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', '301.40035999999998', '1972'),
 ('1', 'AR7EXXM1187B995510', '40.714550000000003', '-74.00712', 'New York, New York', 'BLESTeNATION', 'SORBTXD12AB018D2D2', "They're Coming For You", '193.07057', '0'),
 ('1', 'ARUT16P1187FB532A4', '33.398470000000003', '-91.037859999999995', 'Greenville, MS', 'Tyrone Davis', 'SOWRLSY12AC4687694', "Cheatin' In The Next Room", '235.91138000000001', '0'),
 ('1', 'ARE1E131187B9B6F22', None, None, 'HILTONS, US', 'June Carter Cash', 'SOBQFAX12A6D4FC885', 'Hold Fast To The Right', '178.44200000000001', '2004'),
 ('1', 'ARDH3D91187B99478C', '27.9758', '-81.541060000000002', 'Florida', 'Her Space Holiday', 'SOZQRFC12AB017EE91', 'The Telescope', '163.10812000000001', '2007')]

In [104]:
query = ("""
select cast(se.ts as bigint) as time_key
,s.song_key
,a.artist_key
,u.user_key
,se.level
,se.sessionid as session_id
,se.location
,se.useragent as user_agent
from staging_events se
join songs s
on se.song = s.title
join artists a
on se.artist = a.name
join users u
on se.userid = u.user_key
where 1 = 1
and page = 'NextSong'
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1543358159796, 656, 8617, 80, 'paid', '992', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1542189677796, 7974, 8425, 29, 'paid', '559', 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (1542285943796, 8217, 2761, 30, 'paid', '324', 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1541789348796, 8494, 6544, 36, 'paid', '392', 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1541443616796, 8494, 6544, 101, 'free', '282', 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [122]:
songplay_table_delete = ("""
delete from songplays;
""")
%sql $songplay_table_delete

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
7283 rows affected.

[]

In [155]:
query = ("""
select *
from staging_songs 
where 1 = 1
and title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('1', 'ARRMZ8R1187FB36FE3', '42.99671', '-85.590119999999999', 'Grand Rapids Michigan USA', 'East West', 'SOLAQIZ12A8C13743E', 'Breathe', '167.65342000000001', '2001'),
 ('1', 'ARDJAPU1187B9B4D48', None, None, 'Stockbridge, GA', 'Collective Soul', 'SOSEOOD12AAA8C4AE9', 'Breathe', '182.59546', '1993'),
 ('1', 'ARU78KE1187FB37E2F', None, None, None, 'Jake Shimabukuro', 'SOSLXKE12AB018900C', 'Breathe', '220.55137999999999', '2006')]

In [156]:
query = ("""
select *
from staging_events
where 1 = 1
and song = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('Anberlin', 'Logged In', 'Tegan', 'F', '38', 'Levine', '215.24852999999999', 'paid', 'Portland-South Portland, ME', 'PUT', 'NextSong', '1540794356796', '774', 'Breathe', '200', '1542771102796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '80'),
 ('Prodigy', 'Logged In', 'Chloe', 'F', '0', 'Cuevas', '335.90812', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1540940782796', '576', 'Breathe', '200', '1542234557796', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', '49'),
 ('Prodigy', 'Logged In', 'Layla', 'F', '85', 'Griffin', '335.90812', 'paid', 'Lake Havasu City-Kingman, AZ', 'PUT', 'NextSong', '1541057188796', '984', 'Breathe', '200', '1543448929796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '24')]

In [187]:
query = ("""
drop table if exists song_keys cascade
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [188]:
create_song_keys_table = ("""
CREATE TABLE IF NOT EXISTS song_keys
(song_key integer IDENTITY(0,1) NOT NULL sortkey
,song_id character varying
,title character varying not null
,artist_id character varying
,name character varying not null
,year integer
,duration double precision
,CONSTRAINT song_keys_pkey PRIMARY KEY (song_key)
);
""")
%sql $create_song_keys_table

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [189]:
insert_into_song_keys_1 = ("""
insert into song_keys 
(song_id
,title
,artist_id
,name
,year
,duration
)
select distinct 
song_id
,title
,artist_id
,artist_name
,cast(year as integer)
,cast(duration as double precision)
from staging_songs
""")
%sql $insert_into_song_keys_1

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

In [190]:
song_keys_table_insert2 = ("""
insert into song_keys 
(title
,name
)
select distinct 
se.song
,se.artist
from staging_events se
where 1 = 1
and not exists
(select 1
from song_keys sk
where 1 = 1
and se.song = sk.title
and se.artist = sk.name)
and se.page = 'NextSong'
""")
%sql $song_keys_table_insert2

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5078 rows affected.

[]

In [193]:
query = ("""
select song_id, count(*)
from song_keys
where 1 = 1
and song_id is not null
group by song_id
having count(*) > 1
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [194]:
query = ("""
select *
from song_keys
where 1 = 1
and song_id is null
limit 10
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(14199, None, 'Sehr kosmisch', None, 'Harmonia', None, None),
 (14263, None, 'Existentialism On Prom Night (Album Version)', None, 'Straylight Run', None, None),
 (14327, None, 'Clumsy', None, 'Fergie', None, None),
 (14391, None, 'Yo Te Seguire (vivo)', None, 'Alberto Plaza', None, None),
 (14455, None, 'Waiting On The World To Change', None, 'John Mayer', None, None),
 (14519, None, 'A Nation On Fire (Album Version)', None, 'Machine Head', None, None),
 (14583, None, 'La Colina De La Vida', None, 'Leon Gieco', None, None),
 (14647, None, 'Face To Face / Short Circuit', None, 'Daft Punk', None, None),
 (14711, None, 'Funny', None, 'Scars On Broadway', None, None),
 (14738, None, 'Dig', None, 'Incubus', None, None)]

In [191]:
query = ("""
select *
from song_keys
where 1 = 1
and song_id is not null
limit 10
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(7, 'SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', 'John Wesley', 0, 484.62322),
 (14, 'SOQYORG12AC3DF81B4', 'Rainbow Yoshi', 'ARP7AEC1187B98B4B2', 'Tony Trischka', 2008, 148.61016),
 (21, 'SOKAYCT12AB018ACE9', 'Letting You Back In', 'ARCICZN11EB9C810B3', 'Rising Lion', 0, 280.45016),
 (28, 'SOIVSQZ12A6D4F68BF', "I'm The Man (Explicit) (Feat. Jeru The Damaja And Lil Dap)", 'ARDSWIE1187FB39056', 'Gang Starr Featuring Jeru The Damaja And Lil Dap', 1992, 244.32281),
 (35, 'SOYIZYC12AB01833BF', 'If You Hang Around Long Enough', 'ARX9L381187B9B7265', 'Mac McAnally', 0, 183.53587),
 (42, 'SOIDERN12A58A795CC', 'Red Orange Yellow', 'ARH6VQG1187B9BA0FA', 'Photo Atlas', 2007, 189.75302),
 (49, 'SOSXUOS12AAF3B4ABF', 'God Bets', 'AREQV8J1187FB3B059', 'China Drum', 1996, 185.39057),
 (56, 'SOWTZNU12AB017EADB', 'Heads Will Roll', 'AR6NYHH1187B9BA128', 'Yeah Yeah Yeahs', 2009, 280.55465),
 (71, 'SOVHGIY12AF72A38A1', "Whenever You're Around feat. George Duke", 'AROQMWV1187FB3781A', 'Jill Scott', 0, 245.7073),
 (78, 'SOUUYPM12A81C20F0D', 'One Day', 'ARMHQZE1187B99A822', 'Toby Lightman', 2008, 205.08689)]

In [195]:
query = ("""
select *
from song_keys
where 1 = 1
and title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(18119, None, 'Breathe', None, 'Prodigy', None, None),
 (18541, None, 'Breathe', None, 'Anberlin', None, None),
 (7177, 'SOSLXKE12AB018900C', 'Breathe', 'ARU78KE1187FB37E2F', 'Jake Shimabukuro', 2006, 220.55138),
 (9064, 'SOLAQIZ12A8C13743E', 'Breathe', 'ARRMZ8R1187FB36FE3', 'East West', 2001, 167.65342),
 (1099, 'SOSEOOD12AAA8C4AE9', 'Breathe', 'ARDJAPU1187B9B4D48', 'Collective Soul', 1993, 182.59546)]

In [207]:
query = ("""
drop table if exists artists cascade
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [208]:
create_artists_table = ("""
CREATE TABLE IF NOT EXISTS artists
(artist_key integer IDENTITY(0,1) NOT NULL sortkey
,name character varying not null
,CONSTRAINT artists_pkey PRIMARY KEY (artist_key)
);
""")
%sql $create_artists_table

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [209]:
artist_table_insert = ("""
insert into artists 
(name
)
select distinct 
name
from song_keys
""")
%sql $artist_table_insert

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
11352 rows affected.

[]

In [210]:
query = ("""
select sk.*, a.*
from song_keys sk
join artists a
on sk.name = a.name
where 1 = 1
and sk.title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(18541, None, 'Breathe', None, 'Anberlin', None, None, 2148, 'Anberlin'),
 (18119, None, 'Breathe', None, 'Prodigy', None, None, 1978, 'Prodigy'),
 (1099, 'SOSEOOD12AAA8C4AE9', 'Breathe', 'ARDJAPU1187B9B4D48', 'Collective Soul', 1993, 182.59546, 4243, 'Collective Soul'),
 (7177, 'SOSLXKE12AB018900C', 'Breathe', 'ARU78KE1187FB37E2F', 'Jake Shimabukuro', 2006, 220.55138, 4940, 'Jake Shimabukuro'),
 (9064, 'SOLAQIZ12A8C13743E', 'Breathe', 'ARRMZ8R1187FB36FE3', 'East West', 2001, 167.65342, 6409, 'East West')]

In [211]:
query = ("""
drop table if exists songs cascade
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [212]:
song_table_create = ("""
CREATE TABLE IF NOT EXISTS songs 
(song_key integer not null sortkey
,song_id character varying
,title character varying not null
,artist_key integer not null
,year integer
,duration double precision
,CONSTRAINT songs_pkey PRIMARY KEY (song_key)
);
""")
%sql $song_table_create

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [214]:
songs_table_insert = ("""
insert into songs
(song_key
,song_id
,title
,artist_key
,year
,duration
)
select 
sk.song_key
,sk.song_id
,sk.title
,a.artist_key
,sk.year
,sk.duration
from song_keys sk
join artists a
on sk.name = a.name
where 1 = 1
""")
%sql $songs_table_insert

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
19974 rows affected.

[]

In [215]:
query = ("""
select *
from songs
where 1 = 1
and title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(18119, None, 'Breathe', 1978, None, None),
 (9064, 'SOLAQIZ12A8C13743E', 'Breathe', 6409, 2001, 167.65342),
 (1099, 'SOSEOOD12AAA8C4AE9', 'Breathe', 4243, 1993, 182.59546),
 (7177, 'SOSLXKE12AB018900C', 'Breathe', 4940, 2006, 220.55138),
 (18541, None, 'Breathe', 2148, None, None)]

In [218]:
query = ("""
select *
from staging_events
where 1 = 1
and song = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('Anberlin', 'Logged In', 'Tegan', 'F', '38', 'Levine', '215.24852999999999', 'paid', 'Portland-South Portland, ME', 'PUT', 'NextSong', '1540794356796', '774', 'Breathe', '200', '1542771102796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '80'),
 ('Prodigy', 'Logged In', 'Chloe', 'F', '0', 'Cuevas', '335.90812', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1540940782796', '576', 'Breathe', '200', '1542234557796', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', '49'),
 ('Prodigy', 'Logged In', 'Layla', 'F', '85', 'Griffin', '335.90812', 'paid', 'Lake Havasu City-Kingman, AZ', 'PUT', 'NextSong', '1541057188796', '984', 'Breathe', '200', '1543448929796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '24')]

In [219]:
query = ("""
select a.artist_key
,s.song_key
,se.artist
,se.song
from staging_events se
join songs s
on se.song = s.title
join artists a
on s.artist_key = a.artist_key
and se.artist = a.name
where 1 = 1
and se.song = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(1978, 18119, 'Prodigy', 'Breathe'),
 (1978, 18119, 'Prodigy', 'Breathe'),
 (2148, 18541, 'Anberlin', 'Breathe')]

In [240]:
query = ("""
select cast(se.ts as bigint) as time_key
,s.song_key
,s.artist_key
,u.user_key
,se.level
,cast(se.sessionid as integer) as session_id
,se.location
,se.useragent as user_agent
from staging_events se
join songs s
on se.song = s.title
join artists a
on s.artist_key = a.artist_key
and se.artist = a.name
join users u
on se.userid = u.user_key
where 1 = 1
and se.page = 'NextSong'
and se.song = 'Breathe'
order by s.song_key, s.artist_key
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(1543448929796, 18119, 1978, 24, 'paid', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1542234557796, 18119, 1978, 49, 'paid', 576, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1542771102796, 18541, 2148, 80, 'paid', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [243]:
songplay_table_insert = ("""
insert into songplays
(time_key
,song_key
,artist_key
,user_key
,level
,session_id
,location
,user_agent
)
select cast(se.ts as bigint) as time_key
,s.song_key
,s.artist_key
,u.user_key
,se.level
,cast(se.sessionid as integer) as session_id
,se.location
,se.useragent as user_agent
from staging_events se
join songs s
on se.song = s.title
join artists a
on s.artist_key = a.artist_key
and se.artist = a.name
join users u
on se.userid = u.user_key
where 1 = 1
and se.page = 'NextSong'
""")
%sql $songplay_table_insert

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
6820 rows affected.

[]

In [245]:
query = ("""
select s.*
,a.*
,sp.*
from songplays sp
join songs s
on sp.song_key = s.song_key
join artists a
on s.artist_key = a.artist_key
where 1 = 1
and s.title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(18541, None, 'Breathe', 2148, None, None, 2148, 'Anberlin', 2836, 1542771102796, 18541, 2148, 80, 'paid', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (18119, None, 'Breathe', 1978, None, None, 1978, 'Prodigy', 3282, 1543448929796, 18119, 1978, 24, 'paid', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (18119, None, 'Breathe', 1978, None, None, 1978, 'Prodigy', 3274, 1542234557796, 18119, 1978, 49, 'paid', 576, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [108]:
query = ("""
select se.song as title,se.artist as name, cast(se.userid as integer) as user_key
from staging_events se
where 1 = 1
and se.page = 'NextSong'
minus
select s.title, a.name, u.user_key
from songplays sp
join songs s
on sp.song_key = s.song_key
join artists a
on sp.artist_key = a.artist_key
join users u
on sp.user_key = u.user_key
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [109]:
query = ("""
select *
from staging_events
where 1 = 1
and song = 'Sleepwalk Capsules'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('At The Drive-In', 'Logged In', 'Aleena', 'F', '10', 'Kirby', '207.46404000000001', 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', '237', 'Sleepwalk Capsules', '200', '1541383311796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]

In [110]:
query = ("""
select count(*)
from (
select se.ts, se.song, count(*)
from staging_events se
join staging_songs ss
on se.song = ss.title
where 1 = 1
and se.page = 'NextSong'
group by se.ts, se.song)
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(810,)]

In [112]:
query = ("""
select cast(se.ts as bigint) as time_key, se.song as title
from staging_events se
join staging_songs ss
on se.song = ss.title
where 1 = 1
and se.page = 'NextSong'
minus
select sp.time_key, s.title
from songplays sp
join songs s
on sp.song_key = s.song_key
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [113]:
query = ("""
select se.*
from staging_events se
where 1 = 1
and se.song = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('Anberlin', 'Logged In', 'Tegan', 'F', '38', 'Levine', '215.24852999999999', 'paid', 'Portland-South Portland, ME', 'PUT', 'NextSong', '1540794356796', '774', 'Breathe', '200', '1542771102796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '80'),
 ('Prodigy', 'Logged In', 'Chloe', 'F', '0', 'Cuevas', '335.90812', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1540940782796', '576', 'Breathe', '200', '1542234557796', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', '49'),
 ('Prodigy', 'Logged In', 'Layla', 'F', '85', 'Griffin', '335.90812', 'paid', 'Lake Havasu City-Kingman, AZ', 'PUT', 'NextSong', '1541057188796', '984', 'Breathe', '200', '1543448929796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '24')]

In [114]:
query = ("""
select a.*
from artists a
where 1 = 1
and a.name in ('Prodigy', 'Anberlin')
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(9650, None, 'Prodigy'), (609, 'ARRE7IQ1187FB4CF13', 'Anberlin')]

In [115]:
query = ("""
select ss.*
from staging_songs ss
where 1 = 1
and ss.artist_name in ('Prodigy', 'Anberlin')
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('1', 'ARRE7IQ1187FB4CF13', None, None, 'Florida', 'Anberlin', 'SOCSXKQ12A6D4F95A0', 'Dismantle. Repair.', '258.42892999999998', '0'),
 ('1', 'ARRE7IQ1187FB4CF13', None, None, 'Florida', 'Anberlin', 'SOKDZCE12A8C134DBF', 'Cadence', '197.38077000000001', '2003'),
 ('1', 'ARRE7IQ1187FB4CF13', None, None, 'Florida', 'Anberlin', 'SOFCEGR12A81C23972', 'Creep (Acoustic/AOL Sessions)', '255.37261000000001', '2007')]

In [116]:
query = ("""
select s.*
from songs s
where 1 = 1
and s.title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(4608, 'SOSEOOD12AAA8C4AE9', 'Breathe', 2020, 'ARDJAPU1187B9B4D48', 1993, 182.59546),
 (1959, 'SOLAQIZ12A8C13743E', 'Breathe', 3184, 'ARRMZ8R1187FB36FE3', 2001, 167.65342)]

In [121]:
query = ("""
select sp.*, s.*
from songplays sp
join songs s
on sp.song_key = s.song_key
where 1 = 1
and s.title = 'Breathe'
order by sp.song_key, sp.artist_key
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
6 rows affected.

[(4380, 1542771102796, 1959, 609, 80, 'paid', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1959, 'SOLAQIZ12A8C13743E', 'Breathe', 3184, 'ARRMZ8R1187FB36FE3', 2001, 167.65342),
 (2986, 1542234557796, 1959, 9650, 49, 'paid', 576, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 1959, 'SOLAQIZ12A8C13743E', 'Breathe', 3184, 'ARRMZ8R1187FB36FE3', 2001, 167.65342),
 (2978, 1543448929796, 1959, 9650, 24, 'paid', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 1959, 'SOLAQIZ12A8C13743E', 'Breathe', 3184, 'ARRMZ8R1187FB36FE3', 2001, 167.65342),
 (1692, 1542771102796, 4608, 609, 80, 'paid', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 4608, 'SOSEOOD12AAA8C4AE9', 'Breathe', 2020, 'ARDJAPU1187B9B4D48', 1993, 182.59546),
 (1642, 1542234557796, 4608, 9650, 49, 'paid', 576, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 4608, 'SOSEOOD12AAA8C4AE9', 'Breathe', 2020, 'ARDJAPU1187B9B4D48', 1993, 182.59546),
 (1634, 1543448929796, 4608, 9650, 24, 'paid', 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 4608, 'SOSEOOD12AAA8C4AE9', 'Breathe', 2020, 'ARDJAPU1187B9B4D48', 1993, 182.59546)]

In [119]:
query = ("""
select se.*
from staging_events se
where 1 = 1
and se.song = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('Anberlin', 'Logged In', 'Tegan', 'F', '38', 'Levine', '215.24852999999999', 'paid', 'Portland-South Portland, ME', 'PUT', 'NextSong', '1540794356796', '774', 'Breathe', '200', '1542771102796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '80'),
 ('Prodigy', 'Logged In', 'Chloe', 'F', '0', 'Cuevas', '335.90812', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1540940782796', '576', 'Breathe', '200', '1542234557796', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', '49'),
 ('Prodigy', 'Logged In', 'Layla', 'F', '85', 'Griffin', '335.90812', 'paid', 'Lake Havasu City-Kingman, AZ', 'PUT', 'NextSong', '1541057188796', '984', 'Breathe', '200', '1543448929796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '24')]

In [246]:
query = ("""
select *
from time
where time_key in (1542771102796)
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1542771102796, 2018.0, 11.0, 21.0, 3.0, 31.0, 42.0, 47.0, 3.0)]

In [249]:
query = ("""
select s.*, a.*, sp.*
from songplays sp
join songs s
on sp.song_key = s.song_key
join artists a
on sp.artist_key = a.artist_key
where 1 = 1
and a.name = 'Black Sabbath'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(15954, None, 'Symptom Of The Universe', 3540, None, None, 3540, 'Black Sabbath', 1244, 1542359149796, 15954, 3540, 49, 'paid', 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [250]:
query = ("""
select *
from staging_songs
where 1 = 1
and title = 'Breathe'
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('1', 'ARRMZ8R1187FB36FE3', '42.99671', '-85.590119999999999', 'Grand Rapids Michigan USA', 'East West', 'SOLAQIZ12A8C13743E', 'Breathe', '167.65342000000001', '2001'),
 ('1', 'ARDJAPU1187B9B4D48', None, None, 'Stockbridge, GA', 'Collective Soul', 'SOSEOOD12AAA8C4AE9', 'Breathe', '182.59546', '1993'),
 ('1', 'ARU78KE1187FB37E2F', None, None, None, 'Jake Shimabukuro', 'SOSLXKE12AB018900C', 'Breathe', '220.55137999999999', '2006')]

In [265]:
query = ("""
select artist_id, count(*) from
(
select ss.artist_id, ss.artist_location, ss.artist_latitude, count(*)
from staging_songs ss
where 1 = 1
group by ss.artist_id, ss.artist_location, ss.artist_latitude
)
group by artist_id
having count(*) > 1
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARU93BQ1187FB40D7D', 2),
 ('ARPQ4Z01187FB3A736', 2),
 ('ARZOVSX12454A3E68F', 2),
 ('AR98JLC1187B9ADE23', 2),
 ('ARWILYB1187FB37DFE', 2)]

In [269]:
query = ("""
select distinct 
ss.artist_id
,a.artist_key
,ss.artist_location
,cast(ss.artist_latitude as double precision)
,cast(ss.artist_longitude as double precision)
from staging_songs ss
join songs s
on ss.song_id = s.song_id
join artists a
on s.artist_key = a.artist_key
where 1 = 1
and ss.artist_id in ('ARU93BQ1187FB40D7D','ARPQ4Z01187FB3A736')
order by ss.artist_id
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[('ARPQ4Z01187FB3A736', 857, 'San Antonio, TX', 29.42449, -98.49462),
 ('ARPQ4Z01187FB3A736', 857, 'San Antonio, TX', None, None),
 ('ARU93BQ1187FB40D7D', 1894, 'Los Angeles CA', None, None),
 ('ARU93BQ1187FB40D7D', 1894, 'Detroit, MI', None, None)]

In [279]:
query = ("""
select count(*)
from staging_songs
where 1 = 1
and artist_location is not null
and artist_latitude is not null
and artist_longitude is not null
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(5275,)]

In [276]:
query = ("""
select distinct a.artist_key
,ss.artist_location
,cast(ss.artist_latitude as double precision)
,cast(ss.artist_longitude as double precision)
from staging_songs ss
join songs s
on ss.song_id = s.song_id
join artists a
on s.artist_key = a.artist_key
where 1 = 1
and ss.artist_location is not null
and ss.artist_latitude is not null
and ss.artist_longitude is not null
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2232, 'Los Angeles, California, USA', 34.05349, -118.24532),
 (8321, 'Oklahoma City, OK', 35.472, -97.52033),
 (9806, 'Tucson, AZ', 32.22155, -110.96975),
 (7420, 'ITALY', 42.50382, 12.57347),
 (8239, 'Philadelphia, PA', 39.95227, -75.16237)]

In [280]:
query = ("""
select count(*)
from artist_locations
where 1 = 1
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "artist_locations" does not exist

[SQL: select count(*)
from artist_locations
where 1 = 1]
(Background on this error at: http://sqlalche.me/e/f405)

In [23]:
query = ("""
drop table if exists artist_locations cascade;
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [24]:
artist_location_table_create = ("""
CREATE TABLE IF NOT EXISTS artist_locations 
(artist_location_key integer IDENTITY(0,1) NOT NULL sortkey
,artist_key integer not null 
,location character varying not null
,latitude double precision
,longitude double precision
,CONSTRAINT artist_locations_pkey PRIMARY KEY (artist_location_key)
,CONSTRAINT artist_locations_artists_fkey FOREIGN KEY (artist_key)
    REFERENCES artists (artist_key) MATCH SIMPLE
);
""")
%sql $artist_location_table_create

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [25]:
insert_into_artist_locations_1 = ("""
insert into artist_locations
(artist_key
,location
,latitude
,longitude
)
select distinct a.artist_key
,ss.artist_location as location
,cast(ss.artist_latitude as double precision) as latitude
,cast(ss.artist_longitude as double precision) as longitude
from staging_songs ss
join songs s
on ss.song_id = s.song_id
join artists a
on s.artist_key = a.artist_key
where 1 = 1
and ss.artist_location is not null
and ss.artist_latitude is not null
and ss.artist_longitude is not null
""")
%sql $insert_into_artist_locations_1

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
3433 rows affected.

[]

In [26]:
insert_into_artist_locations_2 = ("""
insert into artist_locations
(artist_key
,location
,latitude
,longitude
)
select distinct a.artist_key
,ss.artist_location as location
,cast(ss.artist_latitude as double precision) as latitude
,cast(ss.artist_longitude as double precision) as longitude
from staging_songs ss
join songs s
on ss.song_id = s.song_id
join artists a
on s.artist_key = a.artist_key
where 1 = 1
and ss.artist_location is not null
and not exists
(select 1
from artist_locations al
where 1 = 1
and a.artist_key = al.artist_key
and ss.artist_location = al.location
and cast(ss.artist_latitude as double precision) = al.latitude
and cast(ss.artist_longitude as double precision) = al.longitude
)
""")
%sql $insert_into_artist_locations_2

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1773 rows affected.

[]

In [17]:
query = ("""
select count(*)
from artist_locations
where 1 = 1
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10000,)]

In [20]:
query = ("""
select artist_key, count(*)
from artist_locations
where 1 = 1
group by artist_key
having count(*) > 1
limit 5
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(3744, 2), (10165, 2), (4050, 2), (5124, 2), (2561, 2)]

In [22]:
query = ("""
select a.*, al.*
from artists a
join artist_locations al
on a.artist_key = al.artist_key
where 1 = 1
and a.artist_key in (3744, 10165, 4050, 5124, 2561)
order by a.artist_key
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.ctiqkvd8ugde.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2561, 'Bananarama', 2810, 2561, 'New Mexico', 34.16612, -106.02612),
 (2561, 'Bananarama', 5798, 2561, 'London, England', None, None),
 (3744, 'Charles Aznavour', 3250, 3744, 'Virginia', 38.00335, -79.77127),
 (3744, 'Charles Aznavour', 7937, 3744, 'US', None, None),
 (4050, 'Merle Haggard And The Strangers', 3687, 4050, 'Bakersfield, CA', None, None),
 (4050, 'Merle Haggard And The Strangers', 6572, 4050, '', None, None),
 (5124, 'Shane MacGowan And The Popes', 9943, 5124, '', None, None),
 (5124, 'Shane MacGowan And The Popes', 2490, 5124, 'Kent, England', 51.19871, 0.74267),
 (10165, 'Creatures', 3570, 10165, 'Dublin, Ireland', 53.34376, -6.24953),
 (10165, 'Creatures', 5886, 10165, '', None, None)]